################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CopilotFun/CopilotFun/obj
/.vs
/CopilotFun/.vs/CopilotFun/v17
